.fa-angle-up:before { content: "\f106"; }
.fa-angle-right:before { content: "\f105"; }
.fa-angle-down:before { content: "\f107"; }
.fa-angle-left:before { content: "\f104"; }
.fa {
  position: relative;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}




/* 筆記体font */
.title-font{
  font-family:'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal;
}
