@charset "UTF-8";

/* reset */

* {
  margin: 0;
  padding: 0;
  }
html {
  color: #000;
  }
body {
  text-align: center;
  /*font-family: "Meiryo",sans-serif;*/
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  height: auto;
  line-height: 1.8em;
  -webkit-text-size-adjust: 100%;
  }
h1 , h2 , h3 , h4 , h5 , h6 {
  font-size: 16px;
  font-weight: normal;
  }
dl, ul, ol {
  list-style-type: none;
  }
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
  }
blockquote, q {
  quotes:none;
  }
blockquote:before ,
blockquote:after ,
q:before ,
q:after {
  content:'';
  content:none;
  }
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px;
  }
table th ,
table td {
  text-align: left;
  font-weight: normal;
  }
img {
  line-height: 0;
  vertical-align: bottom;
  }

/* a setup */
a {
  text-decoration: none;
  color: #000;
  }
a:hover {
  color: #ccc;
  }
a:focus, a:active ,input:focus {
  outline: none;
  }
a img {
  border-style: none;
  }

/*fade*/
body {
  animation: fadeIn 2s ease 0s 1 normal;
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
  }
@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
  }
@-webkit-keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
  }

/* menu */
#global-nav ul:after {
  content: ".";
  font-size: 0.1em;
  line-height: 0;
  display: block;
  height: 0.1px;
  visibility: hidden;
  clear: both;
  zoom:1;
  }
#global-nav ul {
  zoom:1;
  }
#top-head {
  /*
  top: -100px;
  position: absolute;
  */
  width: 100%;
  margin: 0 auto;
  /*
  z-index: 999;
  */
  }
/*
#top-head .inner {
  position: relative;
  }
*/
#global-nav ul {
  position: fixed;
  left: -110px;
  top: 230px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  cursor: pointer;
  font-weight: 700;
  margin: 10px 0;
  }
#global-nav ul li {
  float: left;
  font-size: 12px;
  font-weight: 700;
  padding: 7px 0;
  letter-spacing: 1.5px;
  }
#global-nav ul li a {
  margin: 0 7px;
  }
#global-nav ul li a:hover {
  background-color: #d6177d;
  color: #fff;
  }

/* Fixed */
/*
#top-head.fixed {
  margin-top: 0;
  top: 0;
  position: fixed;
  padding-top: 10px;
  height: 55px;
  background: #fff;
  background: rgba(255,255,255,.7);
  transition: top 0.65s ease-in;
  -webkit-transition: top 0.65s ease-in;
  -moz-transition: top 0.65s ease-in;
  }
#top-head.fixed .logo {
  font-size: 24px;
  color: #333;
  }
#top-head.fixed #global-nav ul li a {
  color: #333;
  padding: 0 20px;
  }
*/

/* Toggle Button */
#nav-toggle {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 20px;
  cursor: pointer;
  z-index: 101;
  background-color: #000;
  padding: 16px 14px;
  }
#nav-toggle div {
  position: relative;
  }
#nav-toggle span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #d6177d;
  border-radius: 2px;
  left: 0;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
  }
#nav-toggle span:nth-child(1) {
  top: 0;
  }
#nav-toggle span:nth-child(2) {
  top: 8px;
  }
#nav-toggle span:nth-child(3) {
  top: 16px;
  }
@media screen and (max-width: 750px) {
#top-head,
.inner {
  width: 100%;
  padding: 0;
  }
#top-head {
  top: 0;
  /*position: fixed;*/
  margin-top: 0;
  }
/* Fixed reset */
/*
#top-head.fixed {
  padding-top: 0;
  background: transparent;
  }
*/
#mobile-head {
  width: 100%;
  /*height: 56px;*/
  z-index: 999;
  /*position: relative;*/
  }
#top-head.fixed .logo,
#top-head .logo {
  position: absolute;
  left: 13px;
  top: 13px;
  color: #333;
  font-size: 26px;
  }
#global-nav {
  position: absolute;
  /*
  top: -500px;
  */
  top: -556px;
  background-color: rgba(0,0,0,0.9);
  width: 100%;
  text-align: center;
  padding: 10px 0;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  }
#global-nav ul {
  list-style: none;
  position: static;
  right: 0;
  bottom: 0;
  font-size: 14px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  }
#global-nav ul li {
  float: none;
  position: static;
  padding: 0;
  }
#top-head #global-nav ul li a,
#top-head.fixed #global-nav ul li a {
  width: 100%;
  display: block;
  color: #d6177d;
  padding: 10px 0;
  margin: 0;
  }
#top-head #global-nav ul li a:hover,
#top-head.fixed #global-nav ul li a:hover {
  background: none;
  color: #d6177d;
  }
#nav-toggle {
  display: block;
  }
/* #nav-toggle 切り替えアニメーション */
.open #nav-toggle {
  background: none;
  }
.open #nav-toggle span:nth-child(1) {
  top: 8px;
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  transform: rotate(315deg);
  }
.open #nav-toggle span:nth-child(2) {
  width: 0;
  left: 50%;
  }
.open #nav-toggle span:nth-child(3) {
  top: 8px;
  -webkit-transform: rotate(-315deg);
  -moz-transform: rotate(-315deg);
  transform: rotate(-315deg);
  }
/* #global-nav スライドアニメーション */
.open #global-nav {
  /* #global-nav top + #mobile-head height */
  -moz-transform: translateY(556px);
  -webkit-transform: translateY(556px);
  transform: translateY(556px);
  }
}/*==================================================
 * layout common
 *================================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
 .clearfix::after {
  content: "";
  display: block;
  clear: both;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  overflow-y: scroll;
    font-size: 16px;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

input, textarea {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th {
  text-align: left;
}

a:focus {
  outline: none;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
  /*짜*/
     /*/
height: auto;
overflow: hidden;
/**/
}
.both {
  clear: both;
}


body {
  font-family: $fontsBase;
  font-size: 100%;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-feature-settings: "palt" 1;
  word-break: break-all;
}

body.error404 {
  height: 100%;
  background-image: url(../img/usagi_404_bg.png);
  background-position: 50% 50%;
  background-attachment: fixed;
  .site {
    height: 100%;
    .site-content {
      height: 100%;
    }
  }
}

/*
body {
  width:100%;
  -webkit-text-size-adjust: 100%;
}
*/

img {
  vertical-align: middle;
}

a > img:hover { opacity: 0.8;}

a {
  color: #000000;
  text-decoration: none;
}
a:focus,
a:hover {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $fontsBase;
  font-weight: normal;
  text-transform: none;
  line-height: 1.5;
}

p {
  margin: 0;
  font-size: 1.375rem;
  color: #333;
  line-height: 2.273;
  letter-spacing: 1.9px;
}

strong{
  font-weight: 600;
}

.n{
  :hover{
  opacity:1;
  }
}

.nobg{
  background: none!important;
}
